{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Login - Django Keycloak App{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Login to Your Account</h4>
            </div>
            <div class="card-body">
                <div class="d-grid gap-2">
                    <a href="{% provider_login_url 'openid_connect' openid='keycloak' %}" 
                       class="btn btn-primary btn-lg">
                        🔐 Login with Keycloak
                    </a>
                </div>
                
                <div class="text-center mt-3">
                    <small class="text-muted">
                        You will be redirected to Keycloak for authentication
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}