
DEBUG=True

SECRET_KEY="k9jddfskxn-tx)4!(@%az-m3k"

# mongo db configuration
MONGODB_NAME=django_db
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_USERNAME=
MONGODB_PASSWORD=

# postgresql db configuration
DB_ENGINE=django.db.backends.postgresql
DB_NAME=django_db
DB_USER=test
DB_PASSWORD=test
DB_HOST=localhost
DB_PORT=5432


KEYCLOAK_SERVER_URL=http://localhost:8081
KEYCLOAK_REALM=django
KEYCLOAK_CLIENT_ID=django-client
KEYCLOAK_CLIENT_SECRET=fgdfgdfgdfgdfgdfgd