{% extends 'base.html' %}

{% block title %}Profile - Django Keycloak App{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>User Profile</h1>
        
        <div class="card">
            <div class="card-header">
                <h5>Account Information</h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>Email:</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>First Name:</th>
                        <td>{{ user.first_name|default:"Not provided" }}</td>
                    </tr>
                    <tr>
                        <th>Last Name:</th>
                        <td>{{ user.last_name|default:"Not provided" }}</td>
                    </tr>
                    <tr>
                        <th>Username:</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Staff Status:</th>
                        <td>{% if user.is_staff %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Date Joined:</th>
                        <td>{{ user.date_joined|date:"F d, Y" }}</td>
                    </tr>
                </table>
            </div>
        </div>

        {% if social_accounts %}
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Social Accounts</h5>
                </div>
                <div class="card-body">
                    {% for account in social_accounts %}
                        <div class="mb-2">
                            <strong>Provider:</strong> {{ account.provider|capfirst }}<br>
                            <strong>User ID:</strong> {{ account.uid }}<br>
                            <strong>Connected:</strong> {{ account.date_joined|date:"F d, Y" }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}